.active {
    color: aqua !important;
    text-decoration: bold ;
}

.ant-upload-list-item-card-actions {
    display: none;
  }

.ant.upload-drag{
    height: 150px !important
}
.open
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 10000;
}
.open .layer
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: top;
	animation: open 1s ease-in-out forwards;
}
.open .layer:nth-child(1)
{
    background-image: url('../images/open1.jpg');
    background-size: cover;
    
	animation-delay: 1s;
	z-index: 2;
}
.open .layer:nth-child(2)
{
	background-image: url('../images/open2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #0e0d52;

	animation-delay: 3s;
	z-index: 1;
}
@keyframes open
{
	0%
	{
		transform: scaleY(1);
	}
	100%
	{
		transform: scaleY(0);
	}
}